In [27]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [65]:
df = catalog.load("preprocessed_train_data")

[03/21/24 14:04:18] INFO     Loading data from preprocessed_train_data (ParquetDataset)...      ]8;id=532764;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=115640;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py#483\483]8;;\

In [66]:
df["Gender"] = df["Gender"] == "Female"

In [67]:
df = pd.get_dummies(df, columns=['Geography'])

In [49]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,668.0,0,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0,True,False,False
1,627.0,0,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0,True,False,False
2,678.0,0,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0,True,False,False
3,581.0,0,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0,True,False,False
4,716.0,0,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0,False,False,True

In [68]:
df.dtypes

CreditScore          float64
Gender                  bool
Age                  float64
Tenure               float64
Balance              float64
NumOfProducts        float64
HasCrCard            float64
IsActiveMember       float64
EstimatedSalary      float64
Exited               float64
Geography_France        bool
Geography_Germany       bool
Geography_Spain         bool
dtype: object

In [69]:
bool_cols = [column for column in df.columns if df[column].dtype == bool]

In [70]:
df[bool_cols] = df[bool_cols].astype(int)

In [71]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,668.0,0,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0,1,0,0
1,627.0,0,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0,1,0,0
2,678.0,0,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0,1,0,0
3,581.0,0,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0,1,0,0
4,716.0,0,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0,0,0,1

In [72]:
def feature_encoding(df: pd.DataFrame) -> pd.DataFrame: 
    df["Gender"] = df["Gender"] == "Female"
    df = pd.get_dummies(df, columns=['Geography'])
    bool_cols = [column for column in df.columns if df[column].dtype == bool]
    df[bool_cols] = df[bool_cols].astype(int)

    return df

In [73]:
df = catalog.load("preprocessed_train_data")

[03/21/24 14:14:46] INFO     Loading data from preprocessed_train_data (ParquetDataset)...      ]8;id=617575;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=364830;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py#483\483]8;;\

In [77]:
df = catalog.load()

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ in <module>:1                                                                                    │
│                                                                                                  │
│ ❱ 1 df = catalog.load()                                                                          │
│   2                                                                                              │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
TypeError: DataCatalog.load() missing 1 required positional argument: 'name'

In [28]:
df = catalog.load("engineered_train_data")

[03/22/24 14:36:31] INFO     Loading data from engineered_train_data (ParquetDataset)...        ]8;id=905479;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=540712;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py#483\483]8;;\

In [3]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,668.0,0,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0,1,0,0
1,627.0,0,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0,1,0,0
2,678.0,0,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0,1,0,0
3,581.0,0,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0,1,0,0
4,716.0,0,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0,0,0,1

In [29]:
import pandas as pd
import typing as t
from sklearn.model_selection import train_test_split
def split_train(df: pd.DataFrame) -> t.Tuple:
    X = df.copy()
    y = X.pop('Exited')
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)
    return X_train, X_test, y_train, y_test

In [30]:
from imblearn.under_sampling import RandomUnderSampler

# Make sampling strat and random_state as parameterized.
def undersample_train(X_train: pd.DataFrame, y_train: pd.Series) -> t.Tuple:
    undersampler = RandomUnderSampler(sampling_strategy='auto', random_state=46)
    X_train, y_train = undersampler.fit_resample(X_train, y_train)
    return X_train, y_train

In [31]:
from sklearn.preprocessing import MinMaxScaler

# Scale dataset appropriately. Parameterized the features to be scaled
def scale_sets(X_train: pd.DataFrame, X_test: pd.DataFrame) -> t.Tuple: 
    scaler = MinMaxScaler()
    X_train[['CreditScore', 'Balance', 'EstimatedSalary']] = scaler.fit_transform(X_train[['CreditScore', 'Balance', 'EstimatedSalary']])
    X_test[['CreditScore', 'Balance', 'EstimatedSalary']] = scaler.transform(X_test[['CreditScore', 'Balance', 'EstimatedSalary']])
    return X_train, X_test

In [32]:
X_train, X_test, y_train, y_test = split_train(df)

In [33]:
X_train, y_train=undersample_train(X_train, y_train)

In [34]:
X_train, X_test = scale_sets(X_train, X_test)

In [35]:
from sklearn.metrics import roc_auc_score, recall_score
from lightgbm import LGBMClassifier

# parameterized random_state for this model.
def train_model(X_train: pd.DataFrame, y_train: pd.Series) -> LGBMClassifier:
    lightgbm = LGBMClassifier(objective="binary", random_state=1)
    lightgbm.fit(X_train, y_train)
    return lightgbm

In [49]:
import logging
logger = logging.getLogger(__name__)

def evaluate_model(model: LGBMClassifier, X_test: pd.DataFrame, y_test: pd.Series):
    y_pred = model.predict(X_test)
    roc = roc_auc_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    logger.info("Model has a ROC AUC score of %.3f and Recall score of %.3f on test data.", roc*100, recall*100)
    print(roc)

In [47]:
model = train_model(X_train, y_train)

[LightGBM] [Info] Number of positive: 24524, number of negative: 24524
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003061 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 858
[LightGBM] [Info] Number of data points in the train set: 49048, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000

In [50]:
evaluate_model(model, X_test, y_test)

0.8057982435403158

In [51]:
X_train.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')